<h5>Comments</h5>

<!--comments list-->
<div class="row" *ngFor="let comment of comments">
  <div class="col-md-1 col-sm-1 col-class">
    <div class="thumbnail">
      <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div>
  </div>

  <div class="col-md-6 col-class col-sm-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>{{comment.userName}}</strong>
        <span class="text-muted"> {{comment.dateTime | date: 'MMM d, y, HH:mm'}} </span>
        <button type="button" class="btn btn-secondary comment-action" data-toggle="tooltip" title="edit">
          <i class="fa fa-pencil"></i>
        </button>
        <button type="button" class="btn btn-secondary comment-action" data-toggle="tooltip" title="delete">
          <i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="panel-body">
        {{comment.comment}}
      </div>
    </div>
  </div>
</div>

<!--add comment area-->
<div class="row" *ngIf="auth.isAuthenticated()">
  <div class="col-md-1"></div>
  <form class="col-md-6">
    <div class="form-group">
    <textarea name="comment"
              class="form-control"
              id="comment"
              rows="2"
              maxlength="250"
              [(ngModel)]="comment"
              placeholder="Write a comment..."
              (keyup.enter)="addComment()">
    </textarea>
    </div>
  </form>
</div>





