<div class="container">
  <div class="row">
    <div class="col-md-12">

  <!--item details-->
  <h2>{{itemDto.title}} </h2>
  <p>{{itemDto.description}}</p>
  <h6>Author {{itemDto.userName}}</h6>
  <h6>Date {{itemDto.dateTime | date: 'MMM d, y, HH:mm'}}</h6>

  <!--images-->
  <div class="row">
    <div class="img-row col-sm-3" *ngFor="let image of albums; let i=index">
      <img class="img-frame img-responsive margin"
           style="width:100%; height:auto; overflow:hidden"
           alt="Image"
           [src]="image.src"
           (click)="open(i)"/>
    </div>
  </div>

 <app-comment></app-comment>


      <h2>{{itemDto.title}} </h2>
      <p>{{itemDto.description}}</p>
      <h6>Author: {{itemDto.userName}} <span *ngIf="itemDetails.userIsOnline" class="label label-success">(Online)</span></h6> 
      <h6>Date: {{itemDto.dateTime}}</h6>

      <button *ngIf="showContactAuthorButton" (click)="startChat()">CONTACT AUTHOR</button>

      <div class="img-row col-sm-3" *ngFor="let image of albums; let i=index">
        <img class="img-frame img-responsive margin" style="width:100%; height:auto; overflow:hidden" alt="Image" [src]="image.src" (click)="open(i)"/>
      </div>
  </div>
  </div>
</div>


