.container {
  margin-top: 25px;
}

.img-row {
  display: inline-block;
}

.img-frame {
  margin: 10px;
  border: 5px solid #fff;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.img-frame:hover, .img-frame:focus, .img-frame:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.star {
  position: relative;
  display: inline-block;
  color: #d3d3d3;
  font-size: 120%;
}

.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #446a7a;
}

ngb-rating {
  padding-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

h6 {
  margin-top: auto;
  margin-bottom: auto;
  padding-right: 10px;
}

.btn {
  margin-left: 5px;
}

.avg {
  padding-left: 15px;
}





