<div class="container">
  <div class="row">
    <div class="col-md-12">
      <br><br>
      <div *ngIf="showSuccessfullyDeleted" class="alert alert-success alert-dismissible" role="alert">Item has been deleted
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
          
      <div *ngIf="showAlreadyDeleted" class="alert alert-warning alert-dismissible" role="alert">Item is already deleted
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="showCouldNotDelete" class="alert alert-danger alert-dismissible" role="alert">Item could not be deleted
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!--item details-->
      <h2><button *ngIf="isItemOfCurrentUser()" type="button" class="btn btn-sm btn-warning" (click)="deleteItem()">Delete Item</button> {{itemDto.title}}</h2>
      <p>{{itemDto.description}}</p>
      <h6>Author: <a href="/users/{{itemDto.userId}}/items">{{itemDto.userName}}</a>&nbsp;
        <span *ngIf="userIsOnline" class="badge badge-success">Online</span>
        <span *ngIf="!userIsOnline" class="badge badge-danger">Offline</span></h6>
      <h6>Date {{itemDto.dateTime | date: 'MMM d, y, HH:mm'}}</h6>

      <button *ngIf="showContactAuthorButton" (click)="startChat()" class="btn btn-info">CONTACT AUTHOR</button>
      <br>

      <!--images-->
      <div class="img-row col-sm-3" *ngFor="let image of albums; let i=index">
        <img class="img-frame img-responsive margin"
             style="width:100%; height:auto; overflow:hidden"
             alt="Image"
             [src]="image.src"
             (click)="open(i)"/>
      </div>
      
    </div>
  </div>

  <app-comment></app-comment>

</div>

<!--<app-star-review></app-star-review>-->





