<ngb-rating [(rate)]="rating"  (hover)="hovered=$event" (leave)="hovered=0" [max]="5" [readonly]="readonly"
            [(ngModel)]="rating" (ngModelChange)="onChange($event)"> </ngb-rating>
<hr>
<pre>
Selected: <b>{{rating}}</b>
Hovered: <b>{{hovered}}</b>
</pre>


<!--<h3>Rating</h3>-->
<!--<p>{{rating}}</p>-->
<!--<fieldset class="rating">-->
  <!--<ng-container  name="star" *ngFor="let number of [5, 4, 3, 2, 1]">-->
    <!--&lt;!&ndash; full star &ndash;&gt;-->
    <!--<input (click)="creatingRating(number)" [id]="'star'+number" [value]="number-0.5" name="rating" type="radio" />-->
    <!--<label class="full" [for]="'star'+number"></label>-->

    <!--&lt;!&ndash; half star &ndash;&gt;-->
    <!--<input (click)="creatingRating(num-0.5)"-->
           <!--[value]="num-0.5"-->
           <!--[id]="'halfstar'+num"-->
           <!--name="rating"-->
           <!--type="radio"  />-->

    <!--<label class="half" [for]="'halfstar'+num"></label>-->

  <!--</ng-container>-->
<!--</fieldset>-->
