<app-add-item></app-add-item>

<div class="container">

  <!--sorting-->
  <div class="row sortby">
    <div class="sort">Sort by:</div>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm"
              (click)="ratingOrder == 'Desc' ? ratingOrder = 'Asc' : ratingOrder = 'Desc'; sort('Rating', ratingOrder);
                      dateOrder='Asc'; titleOrder='Desc';">Rating
        <i *ngIf="sortingOptions.value != 'Rating'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="sortingOptions.value == 'Rating' && sortingOptions.direction == 'Desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
        <i *ngIf="sortingOptions.value == 'Rating' && sortingOptions.direction == 'Asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-secondary btn-sm"
              (click)="dateOrder == 'Desc' ? dateOrder = 'Asc' : dateOrder = 'Desc'; sort('DateTime', dateOrder);
                      ratingOrder='Asc'; titleOrder='Desc'">Date
        <i *ngIf="sortingOptions.value != 'DateTime'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="sortingOptions.value == 'DateTime' && sortingOptions.direction == 'Desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
        <i *ngIf="sortingOptions.value == 'DateTime' && sortingOptions.direction == 'Asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
      </button>
      <button type="button" class="btn btn-secondary btn-sm"
              (click)="titleOrder == 'Desc' ? titleOrder = 'Asc' : titleOrder = 'Desc'; sort('Title', titleOrder);
                      ratingOrder='Asc'; dateOrder='Asc'">Title
        <i *ngIf="sortingOptions.value != 'Title'" class="fa fa-sort" aria-hidden="true"></i>
        <i *ngIf="sortingOptions.value == 'Title' && sortingOptions.direction == 'Desc'" class="fa fa-sort-desc" aria-hidden="true"></i>
        <i *ngIf="sortingOptions.value == 'Title' && sortingOptions.direction == 'Asc'" class="fa fa-sort-asc" aria-hidden="true"></i>
      </button>
    </div>
  </div>

  <!--images list-->
  <div class="row">
    <div class="gallery col-md-3" *ngFor="let item of itemsDto">
      <div class="img-container">
        <a [routerLink]="['/items/', item.itemId]">
          <img alt="Image" [src]="item.src">
        </a>
      </div>
      <div class="title">{{item.title}} {{item.rating}}</div>
    </div>
  </div>

</div>




