<!--<app-add-item></app-add-item>-->


<div class="container">
  <div class="row">
    <div class="sort">Sort by: </div>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary btn-sm active" (click)="sort('rating')">Rating<i class="fa fa-sort" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="sort('date')">Date<i class="fa fa-sort" aria-hidden="true"></i></button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="sort('title')">Title<i class="fa fa-sort" aria-hidden="true"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="gallery col-md-3" *ngFor="let item of itemsDto">
      <div class="img-container">
        <a [routerLink]="['/items/', item.itemId]">
          <img alt="Image" [src]="item.src">
        </a>
      </div>
      <div class="title">{{item.title}}</div>
    </div>
  </div>
</div>




