<div class="container">
  <form #newItemForm="ngForm">
    <div class="form-group row">
      <input autofocus
             name="title"
             class="form-control col-md-12 title"
             id="title"
             maxlength="50"
             placeholder="Title of your post(max 50 characters)"
             required
             [(ngModel)]="itemDto.title">
    </div>

    <div class="form-group row">
      <textarea class="form-control col-md-12"
                name="description"
                rows="4"
                id="description"
                placeholder="Edit description"
                [(ngModel)]="itemDto.description"></textarea>
    </div>
  </form>

  <image-upload [max]="4" [uploadedFiles]="images" dropBoxMessage="Drop your images here(max 4)"></image-upload>

  <button type="submit" [disabled]="newItemForm.form.invalid" class="btn btn-info pull-right" (click)="editItem()">
    Update post
  </button>

</div>

