<div class="container">
  <div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Oops! Some error has occurred</h1>
      <img src="/assets/oops.png"><br><br>
      We are sorry for the inconvenience. Please try again later and maybe it will go away.<br><br>
      Otherwise please send us an email <a href="mailto:webadmin@sharegoods.md">webadmin@sharegoods.md</a><br><br>
      <div *ngIf="errorMessage != undefined && errorMessage != ''">
        Please attach these logs to your email: <br>
        <code>{{errorMessage}}</code>
      </div>
    </div>
    <div class="col-md-2"></div>

  </div>
</div>
