<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Share goods
      <span>v1.0</span>
    </h3>
    <p class="footer-links">
      <em>Sharing is caring</em>
    </p>
  </div>
  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p>
        <span>str.Fierarilor 1/3</span> Chisinau, Moldova</p>
    </div>
    <div>
      <i class="fa fa-phone"></i>
      <p>+373 523 23454</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p>
        <a href="mailto:support@awesome.com">isd.awake.com</a>
      </p>
    </div>
  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula
      sit amet.
    </p>

    <div class="footer-icons">
      <a href='https://www.facebook.com'>
        <i class="fa fa-facebook"></i>
      </a>
      <a href='https://twitter.com/'>
        <i class="fa fa-twitter"></i>
      </a>
      <a href='https://www.linkedin.com'>
        <i class="fa fa-linkedin"></i>
      </a>
      <a href='https://github.com/isd-soft'>
        <i class="fa fa-github"></i>
      </a>
    </div>
    <div>
      <p class="footer-company-name">All the time awake &copy; 2018</p>
    </div>
  </div>

</footer>
