<p>
  Login
</p>
<form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
    <label for="email">Email</label>
    <input type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required />
    <div *ngIf="f.submitted && !email.valid"
      [hidden]="email.valid || email.pristine" class="alert alert-danger">
      Email is required
    </div>
  </div>
  <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">
    <label for="password">Password</label>
    <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required />
    <div *ngIf="f.submitted
        && !password.valid">Password is required</div>
  </div>
  <div>
    <button [disabled]="loading">Login</button>
  </div>
</form>
<br><br>
<a href="/register">Register</a>