<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3">
      <img class="img-responsive avatar rounded" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
    </div>

    <nav class="col-md-8">
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
           aria-controls="nav-profile" aria-selected="true">Update profile</a>
        <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab"
           aria-controls="nav-password" aria-selected="false">Change password</a>
      </div>

      <!--update profile-->
      <div *ngIf="showSuccessfullyUpdated" class="alert alert-success alert-dismissible" role="alert">Profile has been
        updated
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div *ngIf="showProfileHasNotChanged" class="alert alert-success alert-dismissible" role="alert">Profile has
        not been changed
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <form #updateForm="ngForm">
            <ng-template [ngIf]="this.emailNotUnique">
              <div class="alert alert-danger">
                User with this email already exists
              </div>
            </ng-template>

            <div class="form-group">
              <label for="firstName">First Name:</label>
              <input type="text"
                     class="form-control"
                     placeholder="First Name"
                     [(ngModel)]="user.firstName"
                     name="firstName"
                     id="firstName"
                     required
                     #firstName="ngModel"
                     minlength="2">
              <div *ngIf="firstName.touched && !firstName.valid" class="alert alert-danger">
                First Name is required, minimum 2 characters
              </div>
            </div>

            <div class="form-group">
              <label for="lastName">Last Name:</label>
              <input type="text"
                     class="form-control"
                     id="lastName"
                     required
                     [(ngModel)]="user.lastName"
                     placeholder="Last name"
                     name="lastName"
                     #lastName="ngModel"
                     minlength="2">
              <div *ngIf="lastName.touched && !lastName.valid" class="alert alert-danger">
                Last Name is required, minimum 2 characters
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email address:</label>
              <input type="email"
                     class="form-control"
                     id="email"
                     required
                     [(ngModel)]="user.email"
                     placeholder="Email"
                     name="email"
                     #email="ngModel"
                     maxlength="100"
                     pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
              <div *ngIf="email.touched && !email.valid" class="alert alert-danger">
                Email is required, e.g. name@domain.com
              </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="updateForm.form.invalid"
                    (click)="profileHasChanged = firstName.pristine && lastName.pristine && email.pristine; updateUser()">
              Save
            </button>
            <button class="btn btn-danger" (click)="getUser()"> Cancel</button>
          </form>
        </div>

        <!--change password-->
        <div *ngIf="showPasswordSuccessfullyUpdated" class="alert alert-success alert-dismissible"
             role="alert">Password has been updated
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
          <form #changePassword="ngForm">
            <div class="form-group">
              <label for="oldpassword">Old password:</label>
              <input type="password"
                     class="form-control"
                     id="oldpassword"
                     required
                     [(ngModel)]="oldPassword"
                     minlength="4"
                     maxlength="16"
                     name="oldpassword"
                     #oldpassword="ngModel">
              <div *ngIf="showOldPasswordIncorrect" class="alert alert-danger">
                old password is not correct
              </div>
            </div>

            <div class="form-group">
              <label for="newpassword">New password:</label>
              <input type="password"
                     class="form-control"
                     id="newpassword"
                     required
                     [(ngModel)]="newPassword"
                     minlength="4"
                     maxlength="16"
                     name="newpassword"
                     #newpassword="ngModel">
              <div *ngIf="showNewPasswordInvalid" class="alert alert-danger">
                the password must contain at least one digit, one uppercase, one lowercase
              </div>
            </div>

            <div class="form-group">
              <label for="newpasswordconfirm">Confirm new password:</label>
              <input type="password"
                     class="form-control"
                     id="newpasswordconfirm"
                     required
                     [(ngModel)]="newPasswordConfirm"
                     minlength="4"
                     maxlength="16"
                     name="newpasswordconfirm">
              <div *ngIf="showPasswordsDontMatch" class="alert alert-danger">
                please enter the same new password
              </div>
            </div>

            <button type="submit" class="btn btn-success" [disabled]="changePassword.form.invalid"
                    (click)="updatePassword()">Update password
            </button>
            <button class="btn btn-danger" (click)="clearPasswords()">Cancel</button>
          </form>
        </div>

      </div>
    </nav>
  </div>
</div>




