.activated {
  background-color: #9f8060;
  border-radius: 10px;
}

.app-nav {
  padding: 0;
  z-index: 3;
}

ul {
  list-style-type: none;
}

.icon {
  color: #d98026;
  font-size: 200% !important;
  padding-left: 2px;
  outline: none;
}

.menubtn {
  border: none;
  padding: 6px;
}

.active-dropdown {
  cursor: pointer;
}

.search-aria {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mr-auto > li{
  margin-right: 5px;
}
