<nav class="navbar navbar-expand-lg navbar-dark bg-dark app-nav">
  <div class="container">
    <a class="navbar-brand btn btn-secondary bg-dark menubtn">
      <i class="fa fa-home icon"
         routerLink=""></i>
    </a>
    <div class="collapse navbar-collapse block">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"
            *ngFor="let item of navItems"
            routerLinkActive="activated">
          <a class="nav-link"
             routerLink={{item.url}}>{{item.name}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
